name: On Challenge Updated

on:
  pull_request:
    types:
    - synchronize
    branches:
    - main
    paths:
    - 'teams/**/*.md'

jobs:
  labelling:
    name: 'Add a label on submission: review-required'

    runs-on: ubuntu-latest

    steps:
    - name: Add a label
      uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: '.github/labeler.yml'
        sync-labels: true

  commenting:
    name: 'Add a comment on update'
    runs-on: ubuntu-latest
    steps:
      - uses: bubkoo/auto-comment@v1.0.7
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pullRequestSynchronizeReactions: 'rocket, +1'
          pullRequestSynchronize: >
            π‘‹πΌ @{{ author }} λ‹!
            <br>
            μ±λ¦°μ§€ μ™„λ£ PRλ¥Ό μ—…λ°μ΄νΈν•΄ μ£Όμ…”μ„ κ°μ‚¬ν•©λ‹λ‹¤! π‰ μ°Έκ°€μλ‹μ μ§€μΉμ§€ μ•λ” μ—΄μ •μ„ μ‘μ›ν•΄μ”! π’πΌ
            <br><br>
            π”Ή From. HackaLearn μ΄μμ§„ μΌλ™ π”Ή
